<div *ngIf="show" class="fixed inset-0 flex items-center justify-center bg-black/30 backdrop-blur-sm">
  <div class="rounded-lg bg-gray-50 px-16 py-14">
    <div class="flex justify-center">
      <div class="rounded-full bg-green-100 p-6">
        <div class="flex h-16 w-16 items-center justify-center rounded-full bg-green-300 p-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
        </div>
      </div>
    </div>
    <h3 class="my-4 text-center text-2xl font-semibold text-gray-700">¡Has guardado la configuración de tu coche!</h3>
    <button class="mx-auto mt-10 block rounded-xl border-4 border-transparent bg-gray-400 px-6 py-3 text-center text-base font-medium text-black-300 outline-6 hover:outline hover:duration-300" (click)="goToConfiguredCars()">Ver coches configurados</button>
  </div>
</div>

<div *ngIf="showFailure" class="fixed inset-0 flex items-center justify-center bg-black/30 backdrop-blur-sm">
  <div class="rounded-lg bg-gray-50 px-16 py-14">
    <div class="flex justify-center">
      <div class="rounded-full bg-orange-100 p-6">
        <div class="flex h-16 w-16 items-center justify-center rounded-full bg-red-300 p-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
        </div>
      </div>
    </div>
    <h3 class="my-4 text-center text-2xl font-semibold text-gray-700">¡Lo sentimos, este modelo no está disponible para configurar!</h3>
    <button class="mx-auto mt-10 block rounded-xl border-4 border-transparent bg-gray-400 px-6 py-3 text-center text-base font-medium text-black-300 outline-6 hover:outline hover:duration-300" (click)="backtoConfigurator()">Volver al configurador</button>
  </div>
</div>
