<div class="mt-10">
  <p class="text-lg mb-3">{{ 'add_model.title1' | translate }}</p>
  <div class="flex text-3xl">
    <span class="font-extrabold text-6xl pr-1">1.</span>
    <h1 class="md:pt-2.5 md:pl-0 pl-2 font-light">{{ 'add_model.title2' | translate }}</h1>
  </div>
  <form class="space-y-4 pt-12">
    <!-- Campo para el nombre de la marca -->
    <div class="mb-5">
      <label for="brands" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Selecciona una
        marca</label>
      <select id="brands" (change)="onBrandChange($event)"
        class="mb-8 bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option *ngFor="let brand of brandService.brandList" [value]="brand.id">{{brand.brandName}}</option>
        <option value="Add">Añadir nueva marca</option>
      </select>
      <div class="md:mt-0 mt-5 md:w-1/5">
        <img class="rounded-md border w-full h-44 object-contain bg-white" [src]="imageLogo" *ngIf="imageLogo"
          alt="Vista previa de la imagen">
      </div>
    </div>

    <div class="border p-6 rounded-md bg-gray-50 md:flex gap-5"
      [ngClass]="{'opacity-50 pointer-events-none cursor-not-allowed' : !isNewBrand}">
      <div class="md:w-4/5">
        <label for="brandName" class="mb-1 block text-lg font-medium text-[#07074D]">
          {{ 'add_model.title3' | translate }}
        </label>
        <input type="text" name="brandName" id="brandName" [(ngModel)]="brandName" #brandNameInput="ngModel" required
          placeholder="Audi, BMW, etc." value="{{brandName}}" (change)="onInputChange1($event)"
          class="w-full rounded-md border border-[#b1b1b1] bg-white py-2.5 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#000000] focus:shadow-md" />

        <span class="text-red-500 mt-1.5" *ngIf="brandNameInput.invalid && brandNameInput.touched">
          Por favor, introduce el nombre de la marca.
        </span>

        <!-- Campo para subir la foto -->
        <input type="file" placeholder="{{ 'add.model.titel3' | translate }}" (change)="onInputChange2($event)"
          class="w-full mt-5 text-black text-base bg-white border file:cursor-pointer cursor-pointer file:border-0 file:py-2.5 file:px-4 file:mr-4 file:bg-black file:hover:bg-gray-700 file:text-white rounded" />
      </div>
      <div class="md:mt-0 mt-5 md:w-1/5">
        <img class="rounded-md border w-full h-44 object-contain bg-white" [src]="imagePreview" *ngIf="imagePreview"
          alt="Vista previa de la imagen">
      </div>
    </div>

    <div *ngIf="isFileSelected()" [ngClass]="{'hidden': isValidExtension(extension)}" class="text-red-500 text-md mt-2">
      {{ 'add_model.extension' | translate }}
    </div>
  </form>
</div>
