@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Establece el ancho de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px;
}

/* Establece el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Establece el color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Cambia el color de la barra de desplazamiento al pasar el ratón */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html, body { height: 100%; }
body { margin: 0; }
