<div class="bg-white p-5 rounded shadow-lg max-w-3xl mx-auto">
    <form class="p-5" (submit)="saveExtColor()" #form="ngForm">
        <div class="mb-5 w-full">
            <label for="PaqueteSelect" class="block text-sm font-bold text-black">Primero seleccione el color a
                editar</label>
            <select name="paqueteId" id="PaqueteId" [(ngModel)]="selectedExtColor"
                (change)="selectExtColor(selectedExtColor)"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="" disabled selected>Selecciona un color</option>
                <option *ngFor="let color of extColor; let i = index" [value]="i">{{ color.color }}</option>
            </select>
        </div>
        <!-- Campo para el precio -->
        <div class="mb-5" *ngIf="selectedExtColor">
            <label for="price" class="block text-sm font-medium text-gray-700">Precio</label>
            <input type="number" id="price" name="price" [(ngModel)]="selectedExtColor.price" required #price="ngModel"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <div *ngIf="price.invalid && price.touched" class="text-red-500 mt-2 text-sm">Este campo es obligatorio
            </div>
        </div>

        <!-- Campo para color -->
        <div class="mb-5" *ngIf="selectedExtColor">
            <label for="color" class="block text-sm font-medium text-gray-700">Color</label>
            <input type="text" id="color" name="color" [(ngModel)]="selectedExtColor.color" required #color="ngModel"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <div *ngIf="color.invalid && color.touched" class="text-red-500 mt-2 text-sm">Este campo es obligatorio
            </div>
        </div>

        <div class="mb-5" *ngIf="selectedExtColor">
            <label for="color" class="block text-sm font-medium text-gray-700">Vista previa</label>
            <input type="file" id="modelImages" name="modelImages" (change)="onFileChange1($event)"
                class="mt-1 mb-3 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <img class="w-16 h-16 rounded-full border-2 object-cover p-1 m-auto"
                [src]="circuloPreview[1] || selectedExtColor.circulo" alt="color">
            <div class="text-red-500 mt-2 text-sm">
            </div>
        </div>

        <div class="mb-5" *ngIf="selectedExtColor">
            <label for="color" class="block text-sm font-medium text-gray-700">Imagenes</label>
            <input type="file" id="modelImages" name="modelImages" (change)="onFileChange($event)" multiple
                class="mt-1 mb-3 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">

            <div class="justify-center items-center mt-5 mb-4">
                <div *ngIf="imagePreviews.length === 0" class="image-viewer">
                    <img class="w-[350px] h-[150px] object-cover" [src]="selectedImageList[currentImageIndex]"
                        alt="Image">
                </div>
                <div class="carousel" *ngIf="imagePreviews.length > 0">
                    <div>
                        <img class="w-[350px] h-[150px] object-cover" [src]="imagePreviews[currentImageIndex]"
                            alt="Image preview">
                    </div>
                </div>

                <div class="flex gap-4 justify-center items-center mt-4">
                    <button type="button"
                        class="w-1/2 flex items-center justify-center hover:scale-105 transition-all ease-in-out duration-300"
                        (click)="previousImage()">
                        <svg width="32" height="32" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.84182 3.13514C9.04327 3.32401 9.05348 3.64042 8.86462 3.84188L5.43521 7.49991L8.86462 11.1579C9.05348 11.3594 9.04327 11.6758 8.84182 11.8647C8.64036 12.0535 8.32394 12.0433 8.13508 11.8419L4.38508 7.84188C4.20477 7.64955 4.20477 7.35027 4.38508 7.15794L8.13508 3.15794C8.32394 2.95648 8.64036 2.94628 8.84182 3.13514Z"
                                fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                        Anterior
                    </button>
                    <button type="button"
                        class="w-1/2 flex items-center justify-center hover:scale-105 transition-all ease-in-out duration-300"
                        (click)="nextImage()">
                        Siguiente
                        <svg width="32" height="32" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                                fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="flex justify-between">
            <button type="button"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-900 "
                (click)="close()">
                Cancelar
            </button>

            <button type="submit" [disabled]="form.invalid"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Guardar
            </button>
        </div>
    </form>
</div>
